
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-emo-surprised:before { content: '\e807'; } /* '' */
.icon-emo-tongue:before { content: '\e808'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80a'; } /* '' */
.icon-emo-displeased:before { content: '\e80b'; } /* '' */
.icon-emo-beer:before { content: '\e80c'; } /* '' */
.icon-emo-grin:before { content: '\e80d'; } /* '' */
.icon-emo-angry:before { content: '\e80e'; } /* '' */
.icon-emo-saint:before { content: '\e80f'; } /* '' */
.icon-emo-cry:before { content: '\e810'; } /* '' */
.icon-emo-shoot:before { content: '\e811'; } /* '' */
.icon-emo-squint:before { content: '\e812'; } /* '' */
.icon-emo-laugh:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-left-open:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-up-open:before { content: '\e817'; } /* '' */
.icon-sina-weibo:before { content: '\e818'; } /* '' */
.icon-github:before { content: '\e819'; } /* '' */
.icon-code:before { content: '\e81a'; } /* '' */
.icon-vcard:before { content: '\e81b'; } /* '' */
.icon-location:before { content: '\e81c'; } /* '' */
.icon-quote-left:before { content: '\e81d'; } /* '' */
.icon-quote-right:before { content: '\e81e'; } /* '' */
.icon-ok:before { content: '\e81f'; } /* '' */
.icon-resize-horizontal:before { content: '\e820'; } /* '' */
.icon-resize-vertical:before { content: '\e821'; } /* '' */
.icon-up-big:before { content: '\e822'; } /* '' */
.icon-right-big:before { content: '\e823'; } /* '' */
.icon-left-big:before { content: '\e824'; } /* '' */
.icon-down-big:before { content: '\e825'; } /* '' */
.icon-magic:before { content: '\e826'; } /* '' */
.icon-spin1:before { content: '\e827'; } /* '' */
.icon-marquee:before { content: '\e828'; } /* '' */
.icon-spin2:before { content: '\e829'; } /* '' */
.icon-calendar:before { content: '\e82a'; } /* '' */
.icon-calendar-empty:before { content: '\e82b'; } /* '' */
.icon-codeopen:before { content: '\e82c'; } /* '' */
.icon-map:before { content: '\e82d'; } /* '' */
.icon-inbox:before { content: '\e82e'; } /* '' */
.icon-globe:before { content: '\e82f'; } /* '' */
.icon-leaf:before { content: '\e830'; } /* '' */
.icon-map-1:before { content: '\e831'; } /* '' */
.icon-docs:before { content: '\e832'; } /* '' */
.icon-feather:before { content: '\e833'; } /* '' */
.icon-attach:before { content: '\e834'; } /* '' */
.icon-picture:before { content: '\e835'; } /* '' */
.icon-check:before { content: '\e836'; } /* '' */
.icon-cancel:before { content: '\e837'; } /* '' */
.icon-bell-alt:before { content: '\e838'; } /* '' */
.icon-bell:before { content: '\e839'; } /* '' */
.icon-doc-text:before { content: '\e83a'; } /* '' */
.icon-wrench:before { content: '\e83b'; } /* '' */
.icon-cog:before { content: '\e83c'; } /* '' */
.icon-sliders:before { content: '\e83d'; } /* '' */
.icon-menu:before { content: '\e83e'; } /* '' */
.icon-file-powerpoint:before { content: '\e83f'; } /* '' */
.icon-file-code:before { content: '\e840'; } /* '' */